{% extends "layout.html" %}

{% block content %}

<h1 class="text-2xl font-extrabold items-start mt-5 mx-4">Schedule Assistant</h1>

<body class="flex flex-col">
    <div class="mx-4 flex-grow mt-2">
        <div id="chat-container" class="flex-grow"></div>
    </div>

    <div class="input-container bg-[#0D2C54]">
        <input type="text" id="user-input" placeholder=" Enter your question | Ex: How many professors are there">
        <button id="submit" class="text-white font-extrabold" onclick="sendMessage()">Send</button>
    </div>

    <style>
        .flex-grow {
            flex-grow: 1;
            overflow-y: auto;
            height: 100%;
            margin-bottom: 60px;
        }

        #chat-container {
            margin-bottom: 60px;
        }

        .input-container {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: initial;
        }

        #user-input {
            flex-grow: 1;
            margin-right: 10px;
        }

        .message-user {
            padding: 20px;
            /* margin: 10px; */
        }

        .message-bot {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
        }

        #user-input {
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            border: none;
            font-size: 16px;
            background-color: lightgray;

        }
        *:focus {
            outline: none;
        }

        #submit {
            padding: 10px 20px;
            border-radius: 10px;
            border: none;
            background-color: #0D2C54;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</body>



<script>
    $(document).ready(function () {
        $('#user-input').keydown(function (event) {
            if (event.keyCode === 13) { // Enter key
                sendMessage();
            }
        });

        $('#send-button').click(function () {
            sendMessage();
        });
    });
    function sendMessage() {
        var userInput = $("#user-input").val();

        var inputDiv = document.createElement("div");
        inputDiv.innerHTML = userInput
        inputDiv.className = "message-user";
        $("#chat-container").append(inputDiv);

        $.ajax({
            type: "POST",
            url: "/assistant",
            contentType: "application/json",
            data: JSON.stringify({ input: userInput }),
            success: function (response) {
                var botResponse = response.response;

                var responseDiv = document.createElement("div");
                responseDiv.innerHTML = botResponse;
                responseDiv.className = "message-bot";

                var ai_icon = document.createElement("img");
                ai_icon.src = "/static/img/ai-blue.svg";
                ai_icon.style = "display:inline; width:20px; position:absolute; right:40px;";
                responseDiv.appendChild(ai_icon);

                $("#chat-container").append(responseDiv);
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
            }
        });

        $("#user-input").val(""); // Clear input field after sending message
    }
</script>

{% endblock %}