<div class="flex justify-center items-center h-full">
    <article class="flex flex-row justify-center items-center w-full h-full">
        <div class="w-5/12">
            <div class="flex flex-wrap w-full justify-center items-center">
                <h1 class="text-4xl text-center m-4 w-full">{{ course.course_title }}</h1>
                <span class="badge badge-lg badge-primary badge-outline origin-center m-1">{{ course.subject_code }}-{{ course.course_number }}</span>
                <span class="badge badge-lg badge-outline origin-center m-1">{{ course.credits }} Credits</span>
            </div>
            <div class="divider"></div>
            {#            <footer class="text-center text-gray-500 text-sm">{{ course.credits }} Credits</footer>#}
            <p>{{ course.description }}</p>
        </div>

        {% include "tree_partial.html" %}

    </article>
</div>
