{% extends "layout.html" %}
{% block content %}

<form action="/login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="checkbox" id="remember" name="remember">
        <label for="remember">Remember me</label>
    </div>
    <button type="submit">Login</button>

    <div>
        Don't have an account? <a href="/signup">Register</a>
    </div>
</form>


{% endblock %}