{% extends "layout.html" %}
{% block content %}

<form action="/setup" method="post">
    <div>
        <label for="major">Your major</label>
        <input type="text" id="major" name="major">
    </div>
    <div>
        <label for="year">Your year (1-5)</label>
        <input type="text" id="year" name="year">
    </div>
    <div>
        <label for="courses">Enter the courses you have taken at Drexel, comma separated</label>
        <input type="text" id="courses" name="courses">
    </div>
    <button type="submit">Submit</button>
</form>

{% endblock %}