{% extends "layout.html" %}
{% block content %}

<form action="/setup" method="post">
    <div>
        <label for="major">Your major</label>
        <input type="text" id="major" name="major">
    </div>
    <div>
        <label for="year">Your year (1-5)</label>
        <input type="text" id="year" name="year">
    </div>
    <div>
        <label for="courses">Enter the courses you have taken at Drexel and the grades you received</label>
        <p>Format: cs 260 A, se 181 B-, cs 164 C+</p>
        <textarea id="courses" name="courses" style="width:50%"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>

{% endblock %}